{{!-- navbar --}}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <div class="navbar-brand top-log">
      <a href="/">
        <img src="/img/logo.png" alt="陕西分公司项目建设">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav top-menu">
        <li class="nav-item">
          <a class="nav-link" href="/">首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">关于</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto top-login">
        {{#if user}}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">项目</a>
          <div class="dropdown-menu">
            <a href="/ideas" class="dropdown-item">列表</a>
            <a href="/ideas/add" class="dropdown-item">添加</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/users/logout" class="nav-link">退出</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/users/login" class="nav-link">登录</a>
        </li>
        <li class="nav-item">
          <a href="/users/register" class="nav-link">注册</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>