<div class="jumbotron">
  <h3>{{title}}</h3>
  <p>同方知网陕西分公司项目建设发布平台</p>
</div>
<div class="project-list">
  <ul>
    <li>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <a href="javascript:;"> {{title}} </a>
          </h4>
          <p class="card-text">正在建设</p>
        </div>
      </div>
    </li>
  </ul>
</div>