{{!-- <div class="jumbotron text-center">
  <h3 class="display-3">{{title}}</h3>
  <p class="lead">同方知网陕西分公司项目建设发布平台</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">添加项目</a>
</div> --}}

<div class="jumbotron">
  <h3>{{title}}</h3>
  <p>同方知网陕西分公司项目建设发布平台</p>
</div>